<div class="contact">
    <span class=" contact__text">
    <a href="/contact" class="contact-us">
        Contact Us
    </a>
    </span>
    <span  class="icon-basic-geolocalize-01 contact__icon"></span>
</div>