<div class="menu-bar">
        <div id="scrollbar">
                <div id="scrollbar-bg"></div>
        </div>
        <ul class="menu">
            <li class="menu__item"><a href="/verticals" class="menu__link">verticals</a></li>
            <li class="menu__item"><a href="/projects" class="menu__link">projects</a></li>
            <li class="menu__item"><a href="/stories" class="menu__link">stories</a></li>
            <li class="menu__item"><a href="/mosaic" class="menu__link">mosaic</a></li>
            <li class="menu__item"><a href="/vissionMission" class="menu__link">vision & mission</a></li>
            <li class="menu__item"><a href="events" class="menu__link">events</a></li>
            <li class="menu__item"><a href="brochure" class="menu__link">brochure</a></li>
            <li class="menu__item"><a href="team" class="menu__link">team</a></li>
            <li class="menu__item"><a href="membership" class="menu__link">membership</a></li>
        </ul>
</div>