<!-- NAVIGATION -->
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
   <label for="navi-toggle" class="navigation__button">
       <span class="navigation__icon">&nbsp;</span>
   </label>
  
   <nav class="navigation__nav">
       <div class="navigation__left">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta recusandae iusto adipisci et dignissimos itaque in repellendus! Doloribus, mollitia labore voluptates cumque ipsam, officiis, quae suscipit ipsa dolores accusantium aliquam?
       </div>
       <div class="navigation__right">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ex, provident dolorum nemo culpa voluptate iste quis repellat. In similique amet et dolorem fugit, earum minus fugiat quam harum perspiciatis.
           <!-- <ul class="navigation__list"> 
               <li class="navigation__item"><a href="" class="navigation__link"><span>01</span> About us</a></li>
               <li class="navigation__item"><a href="" class="navigation__link"><span>02</span> Services</a></li>
               <li class="navigation__item"><a href="" class="navigation__link"><span>03</span> our work</a></li>
               <li class="navigation__item"><a href="" class="navigation__link"><span>04</span> Stories</a></li>
               <li class="navigation__item"><a href="" class="navigation__link"><span>05</span> Engage now</a></li>
           </ul> -->
       </div>
   </nav>

   <div class="navigation-bar">
        <div class="navigation-bar__logo-box">
            <img src="/img/logo/logo.png" alt="logo" class="navigation-bar__logo">
        </div>
        <ul class="social">
            <li class="social__item"><a href="" class="social__link"><i class="socicon-facebook"></i></a></li>
            <li class="social__item"><a href="" class="social__link"><i class="socicon-twitter"></i></a></li>
            <li class="social__item"><a href="" class="social__link"><i class="socicon-linkedin"></i></a></li>
            <li class="social__item"><a href="" class="social__link"><i class="socicon-pinterest"></i></a></li>
            <li class="social__item"><a href="" class="social__link"><i class="socicon-googleplus"></i></a></li>
        </ul>
    </div>
</div>
      