<!-- NAVIGATION -->
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
   <label for="navi-toggle" class="navigation__button">
       <span class="navigation__icon">&nbsp;</span>
   </label>
  
   <nav class="navigation__nav">
       <div class="navigation__left">
          <div class="navigation__jumbo-item">
              <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/2.jpg" alt="" class="navigation__jumbo-item__background-image">
              <div class="navigation__jumbo-item-header">
                <a class="navigation__left__link" href="/whatIsHumtree">
                    <h4 class="heading-quad navigation__jumbo-item-header--1">
                        <span class="navigation__left__link--header"><span class="text__content">what</span></span>
                        <span class="navigation__left__link--header"><span class="text__content">is humtree?</span></span>
                    </h4>
                    <h4 class="heading-quad navigation__jumbo-item-header--2">
                        <span class="navigation__left__link--header"><span class="text__content">what</span></span>
                        <span class="navigation__left__link--header"><span class="text__content">is humtree?</span></span>
                    </h4>
                </a>
              </div>
          </div>
          <div class="navigation__jumbo-item">
            <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/1.jpg" alt="" class="navigation__jumbo-item__background-image">                
            <div class="navigation__jumbo-item-header">
                <a class="navigation__left__link" href="/whyHumtree">
                    <h4 class="heading-quad navigation__jumbo-item-header--1">
                        <span class="navigation__left__link--header"><span class="text__content">why</span></span>
                        <span class="navigation__left__link--header"><span class="text__content">plant a humtree?</span></span>
                    </h4>
                    <h4 class="heading-quad navigation__jumbo-item-header--2">
                        <span class="navigation__left__link--header"><span class="text__content">why</span></span>
                        <span class="navigation__left__link--header"><span class="text__content">plant a humtree?</span></span>
                    </h4>
                </a>
            </div>
          </div>
          <div class="navigation__jumbo-item">
            <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/3.jpg" alt="" class="navigation__jumbo-item__background-image">              
            <div class="navigation__jumbo-item-header">
                <a class="navigation__left__link" href="/howToGrowAHumtree">
                    <h4 class="heading-quad navigation__jumbo-item-header--1">
                        <span class="navigation__left__link--header"><span class="text__content">how to</span></span>
                        <span class="navigation__left__link--header"><span class="text__content">plant a humtree?</span></span>
                    </h4>
                    <h4 class="heading-quad navigation__jumbo-item-header--2">
                        <span class="navigation__left__link--header"><span class="text__content">how to</span></span>
                        <span class="navigation__left__link--header"><span class="text__content">plant a humtree?</span></span>
                    </h4>
                </a>
            </div>
          </div>
       </div>
       <div class="navigation__right">
            <ul class="navigation__list">
               <li class="navigation__item"><a href="/about" class="navigation__link"> about us</a></li>
               <li class="navigation__item"><a href="/codeOfConduct" class="navigation__link"> code of conduct </a></li>
               <li class="navigation__item"><a href="/brochure" class="navigation__link"> brochure </a></li>
               <li class="navigation__item"><a href="/rulesOfReimbursement" class="navigation__link"> rules Of reimbursement </a></li>
               <li class="navigation__item"><a href="/advisoryCouncil" class="navigation__link"> advisory council</a></li>
               <li class="navigation__item"><a href="/careers" class="navigation__link"> careers </a></li>
               <li class="navigation__item"><a href="/howHumTreeGrows" class="navigation__link"> how hum tree grows? </a></li>
           </ul>
       </div>
   </nav>

   <div class="navigation-bar">
        <div class="navigation-bar__logo-box">
             <a href="/"> <img src="/img/logo/logo.png" alt="logo" class="navigation-bar__logo"> </a> 
        </div>
        <ul class="social">
            <li class="social__item"><a href="www.fb.com/thehumtree" class="social__link"><i class="socicon-facebook"></i></a></li>
            <li class="social__item"><a href="https://www.linkedin.com/company/hum-tree/" class="social__link"><i class="socicon-linkedin"></i></a></li>
        </ul>
    </div>
</div>
      