.header {
  position: relative;
  background-image: linear-gradient(to top,
    rgba($color-black, 0.45),
    rgba($color-black, 0.15)),
    url('../img/page-hero-images/about_us_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; // background-attachment: fixed;
  height: 100vh;
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}