*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body::-webkit-scrollbar {
  display: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #444444;
  background-color: #fffff4; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  75% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes shortMoveInButton {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes beat {
  0% {
    color: firebrick;
    transform: scale(1); }
  100% {
    transform: scale(1.28); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

body {
  font-family: lato, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility; }

.heading-primary-home {
  color: #fffff4;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary-home--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2.5rem; }
  .heading-primary-home--sub {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.74rem;
    opacity: 0;
    transition: all .4s ease-out .25s;
    margin-bottom: 3.6rem; }

.heading-primary {
  color: #fffff4;
  text-transform: uppercase;
  backface-visibility: hidden;
  overflow: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    font-weight: 100;
    letter-spacing: 2.5rem;
    animation: moveInLeft 0.8s ease-out .4s; }
  .heading-primary--sub {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation: moveInRight .8s ease-out .4s;
    margin-bottom: 3.6rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .6rem;
  text-transform: uppercase;
  display: inline-block;
  color: #046d51; }
  .heading-secondary--white {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .6rem;
    text-transform: uppercase;
    display: inline-block;
    color: #fffff4; }
  .heading-secondary--black {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .6rem;
    text-transform: uppercase;
    display: inline-block;
    color: #777; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  color: #046d51; }
  .heading-tertiary--dark {
    color: #252525; }

.heading-quad {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden;
  overflow: hidden;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 900; }

.paragraph {
  font-size: 1.6rem;
  letter-spacing: .08rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; }
  .header--about {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/about-us.jpg"); }
  .header--advisory-council {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/advisory-council.jpg"); }
  .header--vision-mission {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/vision-mission.jpg"); }
  .header--code-of-conduct {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/code-of-conduct.jpg"); }
  .header--what-is-humtree {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/what-is-humtree.jpg"); }
  .header--why-plant-a-humtree {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/why-plant-a-humtree.jpg"); }
  .header--rules-of-reimbursement {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45)), url("../img/page-hero-images/Reimbursement.jpeg"); }
  .header--how-humtree-grows {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/how-humtree-grows.jpg"); }
  .header--how-to-plant-a-humtree {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/how-to-plant-a-humtree.jpg"); }
  .header--team {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../img/page-hero-images/team.jpg"); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center; }

.membership {
  margin-top: 8rem; }
  .membership__header {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 700;
    color: #777;
    letter-spacing: 0.4rem; }
  .membership__sub-header {
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #999;
    font-weight: 300;
    font-size: 2.1rem;
    margin-top: -2rem; }

#scrollbar {
  position: fixed;
  top: 9.7rem;
  left: 0;
  overflow: hidden;
  width: 0%;
  height: 4px;
  z-index: 1900; }

#scrollbar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #046d51; }

.gallery__list {
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 8rem;
  padding-right: 5rem;
  padding-bottom: 10rem; }

.gallery__link, .gallery__link:link, .gallery__link:visited {
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%; }

.gallery__list-item {
  width: 30%;
  height: 22rem;
  float: left;
  display: block;
  margin: 1.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: .3rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #fffff4;
  padding: 2rem; }

.gallery__image {
  width: 100%;
  transition: all .3s ease;
  backface-visibility: hidden;
  padding: 1rem;
  /*position: relative;*/ }

.gallery__image--size-full {
  width: 100%;
  height: auto; }

.gallery__image--size-quater {
  width: 75%;
  height: auto; }

.gallery__image--size-half {
  width: 50%;
  height: auto; }

.gallery__image--size-small {
  width: 25%;
  height: auto; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  height: 50rem;
  margin: auto;
  text-align: center;
  color: #000;
  line-height: 3.5rem;
  position: relative;
  background: #e4e4e4; }
  .card--pricing {
    height: 55rem; }
  .card--pricing-content-container {
    padding: 3rem;
    color: #777;
    font-size: 1.4rem; }
    .card--pricing-content-container p {
      padding: 1.5rem 0; }
    .card--pricing-content-container p:not(:last-child) {
      border-bottom: 0.2px solid #777; }
  .card__container {
    padding: 2rem; }
  .card__title {
    color: #444444;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    padding-top: 1.5rem;
    line-height: 3rem; }
    .card__title--small {
      line-height: 2rem; }
    .card__title--pricing {
      padding-top: 5rem;
      font-size: 5rem;
      position: relative; }
  .card__image {
    width: 100%; }
  .card__heading {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative; }
    .card__heading--pricing {
      font-weight: 700;
      font-size: 1.6rem; }
    .card__heading::after {
      content: " ";
      height: 0.2rem;
      width: 5rem;
      background-color: #000;
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      transform: translateX(-50%); }
    .card__heading--pricing::after {
      display: none; }
  .card__links {
    background-color: #333;
    position: absolute;
    width: 100%;
    bottom: 0; }
  .card__icon_link {
    margin-left: 0.5rem;
    color: #fffff4;
    padding: 1rem; }

.form {
  padding: 4rem; }
  .form__container {
    margin: 0 auto; }
  .form--style {
    max-width: 70rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
    padding: 2rem;
    background: #f7f7f7;
    border-radius: 0.8rem; }
    .form--style ::-webkit-input-placeholder {
      font-family: Lato; }
    .form--style :-moz-placeholder {
      font-family: Lato; }
    .form--style ::-moz-placeholder {
      font-family: Lato; }
    .form--style :-ms-input-placeholder {
      font-family: Lato; }
  .form--style fieldset {
    border: none; }
  .form--style legend {
    font-size: 1.4rem;
    margin-bottom: 1rem; }
  .form--style label {
    display: block;
    margin-bottom: 0.8rem; }
  .form--style input[type="text"],
  .form--style input[type="date"],
  .form--style input[type="datetime"],
  .form--style input[type="email"],
  .form--style input[type="number"],
  .form--style input[type="search"],
  .form--style input[type="time"],
  .form--style input[type="url"],
  .form--style input[type="file"],
  .form--style textarea,
  .form--style select {
    background: #444444;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    margin: 0;
    outline: 0;
    padding: 0.7rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    color: #777;
    margin-bottom: 3rem; }
  .form--style input[type="text"]:focus,
  .form--style input[type="date"]:focus,
  .form--style input[type="datetime"]:focus,
  .form--style input[type="email"]:focus,
  .form--style input[type="number"]:focus,
  .form--style input[type="search"]:focus,
  .form--style input[type="time"]:focus,
  .form--style input[type="url"]:focus,
  .form--style input[type="file"]:focus,
  .form--style textarea:focus,
  .form--style select:focus {
    background: #f7f7f7; }
  .form--style select {
    -webkit-appearance: menulist-button;
    height: 3.5rem; }
  .form--style .number {
    background: #07a97d;
    color: #fffff4;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 1rem;
    line-height: 3rem;
    text-align: center;
    text-shadow: 0 0.1rem 0 #444444;
    border-radius: 1.5rem 1.5rem 1.5rem 0; }
  .form--style input[type="submit"],
  .form--style input[type="button"] {
    position: relative;
    display: block;
    padding: 1.9rem 3.9rem 1.8rem 3.9rem;
    color: #fffff4;
    margin: 0 auto;
    background: #07a97d;
    font-size: 1.8rem;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 0.1rem solid #07a97d;
    border-width: 0.1rem 0.1rem 0.3rem;
    margin-bottom: 1rem; }
  .form--style input[type="submit"]:hover,
  .form--style input[type="button"]:hover {
    background: #07a97d; }
  .form__tabs {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    display: table; }
    .form__tabs > div {
      display: table-cell; }
  .form__element--width-50 {
    display: inline-block;
    width: 50%;
    padding: 0.5rem; }
    .form__element--width-50--1 {
      float: right; }
  .form .college-form {
    display: none; }
  .form .professional-form {
    display: none; }
  .form .membership-cards {
    display: none; }
  .form__radio {
    display: none; }
    .form__radio--professional:checked + input + input + div {
      display: none; }
    .form__radio--professional:checked + input + input + div + div {
      display: block; }
    .form__radio--professional:checked + input + input + div + div + div {
      display: none; }
    .form__radio--college:checked + input + div {
      display: none; }
    .form__radio--college:checked + input + div + div {
      display: none; }
    .form__radio--college:checked + input + div + div + div {
      display: block; }
    .form__radio--college:checked + input + div + div + div + div {
      display: none; }
    .form__radio--membership:checked + div {
      display: none; }
    .form__radio--membership:checked + div + div {
      display: none; }
    .form__radio--membership:checked + div + div + div {
      display: none; }
    .form__radio--membership:checked + div + div + div + div {
      display: block; }

.tab {
  padding: 0.1rem;
  color: #444444;
  display: inline-block;
  align-content: center; }
  .tab--with-border {
    display: block;
    letter-spacing: 0.3rem;
    border-right: 0.3rem solid #444444;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .tab--without-border {
    letter-spacing: 0.3rem;
    padding-left: 0.5rem; }

label {
  cursor: pointer; }

.membership-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block; }

.rupee--symbol {
  position: absolute;
  top: 3rem;
  color: #07a97d;
  font-size: 3rem;
  left: 0.6rem; }
  .rupee--symbol--threeDigit {
    left: -0.2rem; }

.rupee--amount {
  font-size: 7rem;
  font-weight: 100; }

.rupee--decimal {
  color: #07a97d; }

.rupee--afterDecimal {
  font-size: 7rem;
  font-weight: 100; }

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 4000; }
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.one .modal-background .modal {
      transform: scale(0);
      animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.one.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.one.out .modal-background .modal {
        animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    text-align: center; }
    #modal-container .modal-background .modal {
      background: #fffff4;
      padding: 5rem;
      display: inline-block;
      border-radius: 0.3rem;
      font-weight: 300;
      position: relative; }
      #modal-container .modal-background .modal .modal-svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.3rem; }
        #modal-container .modal-background .modal .modal-svg rect {
          stroke: #fffff4;
          stroke-width: 0.2rem;
          stroke-dasharray: 778;
          stroke-dashoffset: 778; }

.content {
  min-height: 100%;
  height: 100%;
  background: #fffff4;
  position: relative;
  z-index: 0; }

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  margin: 1rem;
  font-size: 1.8rem;
  background-color: #f7f7f7;
  border-radius: 0.3rem;
  color: #252525;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .button--full {
    width: 50%;
    margin: 0;
    border-radius: 2rem;
    margin: 1rem;
    font-size: 1.4rem; }
  .button:hover {
    color: #fffff4;
    background: #07a97d; }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(0.005) scaleX(0); } }

@keyframes zoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes zoomOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

.events-container {
  width: 100rem;
  height: 26rem;
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto; }

.event-details {
  width: 60%;
  background: #f7f7f7;
  float: left;
  height: 100%; }
  .event-details__event-date {
    text-align: center;
    background: #999;
    color: #f7f7f7;
    padding: 0.2rem;
    font-size: 1.8rem; }
  .event-details__event-name-desc {
    text-align: left;
    margin-bottom: 5rem; }

.event-links {
  text-align: left;
  padding-left: 6rem; }
  .event-links a {
    padding: 1rem;
    text-decoration: none;
    color: #333; }

.event-name {
  padding-left: 6rem;
  letter-spacing: 0.4rem;
  margin-top: 3rem;
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase; }

.event-desc {
  padding-left: 6rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase; }
  .event-desc__sub-desc {
    padding-bottom: 3rem;
    border-bottom: 2px solid #777; }

.event-image {
  width: 40%;
  float: left; }
  .event-image::after {
    content: "";
    clear: both;
    display: table; }
  .event-image--card__image {
    max-height: 26rem;
    width: 100%; }

.event__time {
  padding-right: 1rem;
  border-right: 0.2rem solid #f7f7f7; }

.event__date {
  padding-left: 1rem; }

<<<<<<< 63c714956716256738f849ba7d4e0ef63369a147
.flip {
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
  text-align: center; }

.flip .flipcard.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  background-color: #e4e4e4; }

.flip .flipcard {
  width: 100%;
  height: 278px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  background-color: #07a97d;
  border-radius: 3px; }

.flip .flipcard .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden !important;
  z-index: 2; }

.flip .flipcard .front {
  width: 270px;
  backface-visibility: hidden !important;
  z-index: 1; }

.flip .flipcard .img {
  position: relaitve;
  width: 270px;
  height: 178px;
  z-index: 1;
  border: 2px solid #000; }

.flip .flipcard .back {
  padding: 10rem;
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  color: #000; }

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffff4;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .3rem;
  backface-visibility: hidden !important; }
=======
.contact-us {
  text-decoration: none;
  color: #fffff4; }
  .contact-us:visited, .contact-us:hover, .contact-us:active {
    text-decoration: none; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  bottom: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev {
  display: none !important; }

.slick-next {
  display: none !important; }
>>>>>>> finished the ui

.row {
  max-width: 114rem !important;
  margin: 0 auto !important; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem !important; }
  .row [class^="col-"] {
    float: left !important; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem !important; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2) !important; }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3) !important; }
  .row .col-2-of-3 {
    width: calc(2*(100% - 2*6rem)/3 + 6rem) !important; }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4) !important; }
  .row .col-2-of-4 {
    width: calc(2*(100% - 3*6rem)/4 + 6rem) !important; }
  .row .col-3-of-4 {
    width: calc(3*(100% - 3*6rem)/4 + 2*6rem) !important; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: transparent;
  height: 6rem;
  width: 4.2rem;
  border-radius: 50%;
  position: fixed;
  top: -1rem;
  left: 3rem;
  z-index: 2000;
  text-align: left;
  cursor: pointer; }

.navigation__nav {
  position: fixed;
  top: 5rem;
  height: 100vh;
  z-index: 2000;
  width: 50vw;
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
  transition: all 400ms cubic-bezier(0.92, 0, 0.36, 0.81); }

.navigation__jumbo-item {
  width: 100%;
  height: calc((100%)/3 + .2rem);
  position: relative;
  overflow: hidden; }
  .navigation__jumbo-item-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%; }
  .navigation__jumbo-item-header {
    width: 100%;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    overflow: hidden; }
    .navigation__jumbo-item-header--1 {
      transform: translateY(-90%);
      position: absolute; }
    .navigation__jumbo-item-header--2 {
      -webkit-transition: transform 200ms ease-out; }
  .navigation__jumbo-item__background-image {
    transition: all 400ms ease-out;
    width: 100%;
    max-height: 100%;
    opacity: 0;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .navigation__jumbo-item:hover img {
    opacity: 1; }
  .navigation__jumbo-item:hover .text__content {
    border-bottom: 0.3rem solid #fffff4;
    color: #fffff4; }
  .navigation__jumbo-item:hover .navigation__jumbo-item-header--1 {
    transition: transform 200ms ease-out;
    transform: translateY(5%); }
  .navigation__jumbo-item:hover .navigation__jumbo-item-header--2 {
    -webkit-transition: transform 200ms ease-out;
    transform: translateY(100%); }

.navigation__left {
  width: 50%;
  height: 85%;
  float: left;
  background-color: #eee;
  transform: translateY(-100vh);
  transition: all 400ms cubic-bezier(0.92, 0, 0.36, 0.81);
  visibility: hidden;
  z-index: 1000;
  position: relative;
  text-align: center; }
  .navigation__left__link {
    display: inline-block;
    width: 100%; }
    .navigation__left__link:link, .navigation__left__link:visited {
      text-decoration: none;
      color: #000; }
    .navigation__left__link:hover, .navigation__left__link:active {
      text-decoration: none;
      color: #000;
      cursor: pointer; }
  .navigation__left__link--header {
    display: block; }
    .navigation__left__link--header .text__content {
      display: inline-block;
      border-bottom: 0.3rem solid transparent; }

.navigation__right {
  width: 50%;
  padding: 8rem 3rem;
  height: 100%;
  color: #fffff4;
  background-color: #333;
  float: left;
  transform: translateY(100vh);
  transition: all 400ms cubic-bezier(0.92, 0, 0.36, 0.81);
  visibility: hidden;
  z-index: 1000;
  position: relative;
  text-transform: capitalize; }

.navigation__list {
  list-style: none; }

.navigation__item {
  padding: 1rem 2rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #fffff4;
  transition: all .4s;
  position: relative; }

.navigation__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1.4rem;
  left: 0;
  background-color: #fffff4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.5s ease-in-out 20ms; }

.navigation__link:hover, .navigation__link:active {
  color: #fffff4; }

.navigation__link:hover:before, .navigation__link:active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__checkbox:checked ~ .navigation__nav .navigation__left {
  transform: translateY(0);
  visibility: visible; }

.navigation__checkbox:checked ~ .navigation__nav .navigation__right {
  transform: translateY(0);
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon {
    width: .8rem;
    height: .2rem;
    background-color: #f7f7f7;
    display: inline-block;
    transition: width .3s, background-color .2s ease .3s;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .navigation__icon::after {
    width: 1.6rem;
    height: .2rem;
    background-color: #f7f7f7;
    display: inline-block;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .navigation__icon::before {
    width: 2.4rem;
    height: .2rem;
    background-color: #f7f7f7;
    display: inline-block;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: width .2s, top .3s ease .2s, transform .3s ease .4s; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  width: 3rem;
  background-color: transparent;
  transition: background-color .3s, width .2s ease .3s; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  width: 3rem;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  width: 3rem;
  transform: rotate(-135deg); }

.navigation-bar {
  position: fixed;
  top: 0;
  height: 5rem;
  z-index: 1500;
  width: 100%;
  background-color: #07a97d; }
  .navigation-bar__logo-box {
    display: block;
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem; }
  .navigation-bar__logo {
    width: 4rem; }

.social {
  list-style: none;
  float: right;
  margin-right: 3rem; }
  .social__item {
    display: inline-block;
    padding: 1rem; }
  .social__link:link, .social__link:visited {
    text-decoration: none;
    color: white; }
  .social__link:hover, .social__link:active {
    color: white; }

.contact {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3000;
  width: 25%;
  text-align: center;
  background-color: #07a97d;
  padding: 1rem 3rem;
  opacity: .89; }
  .contact__icon {
    float: right;
    font-size: 1.6rem;
    color: #fffff4; }
  .contact__text {
    color: #fffff4;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .2rem; }

.menu-bar {
  position: fixed;
  top: 5rem;
  width: 100%;
  background-color: #eee;
  text-align: center;
  z-index: 1900; }
  .menu-bar .menu {
    list-style: none; }
    .menu-bar .menu__item {
      display: inline-block;
      height: 100%;
      text-align: center;
      padding: 1rem .3rem; }
      .menu-bar .menu__item:not(:last-child) {
        margin-right: 2rem; }
    .menu-bar .menu__link:link, .menu-bar .menu__link:visited {
      text-decoration: none;
      color: #777;
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 0.08rem;
      transition: all .4s;
      position: relative; }
    .menu-bar .menu__link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -1.4rem;
      left: 0;
      background-color: #333;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.5s ease-in-out 20ms; }
    .menu-bar .menu__link:hover, .menu-bar .menu__link:active {
      color: #252525; }
    .menu-bar .menu__link:hover:before, .menu-bar .menu__link:active:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.text-container {
  padding: 8rem 30rem;
  overflow-y: auto; }
  .text-container__paragraph {
    letter-spacing: .15rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .text-container__list {
    letter-spacing: .15rem; }
  .text-container .text-list {
    padding: 0 2rem; }
    .text-container .text-list__link:link, .text-container .text-list__link:visited {
      text-decoration: none;
      color: #046d51; }
  .text-container .text-list--lower-alphabets {
    list-style-type: lower-alpha; }
  .text-container .text-list--upper-alphabets {
    list-style-type: upper-alpha; }

.section-home {
  background-color: #999;
  margin-top: 5rem;
  position: relative; }
  .section-home .partner {
    position: absolute;
    top: 0;
    left: 0;
    height: 25rem;
    width: 100%;
    overflow: hidden;
    margin-top: 3rem; }
    .section-home .partner__list {
      width: 80%;
      background-color: #fffff4;
      list-style: none;
      text-align: center;
      margin: 0 auto; }
    .section-home .partner__item {
      display: inline-block;
      padding: 5rem  2rem;
      width: 15rem; }
    .section-home .partner__img {
      display: inline-block;
      width: 100%;
      margin-right: 6rem; }
    .section-home .partner__link:link, .section-home .partner__link:visited {
      text-decoration: none; }
  .section-home .home__left {
    height: 50vh;
    width: 50vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover; }
    .section-home .home__left:hover .header__text-box-home {
      top: 60%; }
    .section-home .home__left .home__left--floor-fade {
      opacity: 1; }
    .section-home .home__left:hover .header__text-box-home .heading-primary-home .heading-primary-home--sub {
      opacity: 1; }
    .section-home .home__left .header__text-box-home {
      z-index: 4;
      position: absolute;
      top: 70%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all .4s ease-out; }
    .section-home .home__left--floor-fade {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      opacity: 0;
      transition: all .5s ease-out; }
      .section-home .home__left--floor-fade li {
        max-width: 100%; }
  .section-home .home__right {
    height: 50vh;
    width: 50vw;
    position: fixed;
    bottom: 0;
    right: 0; }
    .section-home .home__right .home-video {
      height: 100%;
      position: absolute;
      overflow: hidden; }
      .section-home .home__right .home-video__content {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .section-home .home__right .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6rem;
      color: #fffff4;
      cursor: pointer; }
    .section-home .home__right .pause {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: #fffff4;
      cursor: pointer; }

.slideshow {
  width: 100%;
  height: 100%;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; }

.slideshow li:nth-child(1) {
  background-image: url("../img/slider-images/img-1.jpg"); }

.slideshow li:nth-child(2) {
  background-image: url("../img/slider-images/img-2.jpg");
  animation-delay: 10s; }

.slideshow li:nth-child(3) {
  background-image: url("../img/slider-images/img-3.jpg");
  animation-delay: 20s; }

.slideshow li:nth-child(4) {
  background-image: url("../img/slider-images/img-4.jpg");
  animation-delay: 30s; }

.slideshow li:nth-child(5) {
  background-image: url("../img/slider-images/img-5.jpg");
  animation-delay: 40s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  10% {
    opacity: 0;
    animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1; }

.section-projects {
  background-color: #f7f7f7;
  margin-top: 9rem; }

.section-verticals {
  background-color: #f7f7f7;
  margin-top: 9rem; }

.filters {
  text-align: center; }

/* clear fix */
.grid {
  width: 114rem;
  margin: 0 auto; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .element-item ---- */
.grid-item {
  position: relative;
  float: left;
  width: 30rem;
  height: 50rem;
  margin: 3rem 3rem; }

.careers-container {
  margin-top: 15rem; }

.stories-container {
  margin-top: 15rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.stories-main-heading {
  font-size: 9rem;
  font-weight: 300;
  color: #999; }

.stories-sub-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem; }

.stories-content {
  color: #777; }

.stories-image {
  width: 30%;
  height: 30%;
  object-fit: contain;
  float: left;
  padding: 2rem; }
  .stories-image img {
    width: 100%; }

.story-main {
  position: relative; }

.stories-nav {
  position: fixed;
  right: -3rem;
  top: 30rem;
  width: 10%; }
  .stories-nav__bar {
    width: 0.8rem;
    height: 3rem;
    background-color: #777;
    margin-bottom: 1rem; }
