.section-about{
  overflow: hidden;

}

body::-webkit-scrollbar {
  display: none;
  }

.text-container {
  padding: 8rem 30rem;
  overflow-y: auto;

  &__paragraph {
    letter-spacing: 0.1rem;
    
  }
}
