.section-about {}

body::-webkit-scrollbar {
  display: none;
  }

.text-container {
  padding: 8rem 30rem;
  overflow-y: auto;

  &__paragraph {
    letter-spacing: .15rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  &__list {
    letter-spacing: .15rem;
    
  }
  .text-list {
    padding: 0 2rem;
    &__item {

    }
    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-primary-dark;
      }
    }
  }
  .text-list--lower-alphabets {
    list-style-type: lower-alpha;
  }
  .text-list--upper-alphabets {
    list-style-type: upper-alpha;
  }
}

