.filters {
  text-align: center;
}


/* clear fix */
.grid {
  max-width: 114rem;
  margin: 0 auto;
  @include respond(tab-land) { // width < 1200?
  max-width: auto;
}

}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  width: 30rem;
  height: 50rem;
  margin: 3rem 3rem;
  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
}

}