.stories-container {
  margin-top: 15rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  @include respond(phone) { // width < 1200?
    margin-top: 20rem;
  }

}

.stories-main-heading {
  font-size: 9rem;
  font-weight: 300;
  color: $color-grey-light-3;

  @include respond(phone) { // width < 1200?
   font-size: 6rem;
  }
}

.stories-sub-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
  @include respond(phone) { // width < 1200?
    font-size: 1.3rem;
    letter-spacing: .3rem;
   }
}

.stories-content {
  color: $color-grey-dark-1;
  @include respond(phone) { // width < 1200?
    padding: 1rem;
   }
}

.stories-image {
  width: 30%;
  height: 30%;
  object-fit: contain;
  float: left;
  padding: 2rem;

  & img {
    width: 100%;
  }
  @include respond(phone) { // width < 1200?
    width: 100%;

   }
}

.story-main {
  position: relative;  
  @include respond(phone) { // width < 1200?
   padding: 3rem;
   }
}

.stories-nav {
  position: fixed;
  right: -3rem;
  top: 30rem;
  width: 10%;
  @include respond(phone) { // width < 1200?
    right: 0rem;
    top: 40rem;
   }
  &__bar {
    width: 0.8rem;
    height: 3rem;
    background-color: $color-grey-dark-1;
    margin-bottom: 1rem;
  }
}