.form {
  padding: 4rem;
  
  &__container {
    margin: 0 auto;
  }

  &--style {
    max-width: 70rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
    padding: 2rem;
    background: $color-grey-light-1;
    border-radius: 0.8rem;
    ::-webkit-input-placeholder {
      font-family: Lato;
    }
    :-moz-placeholder {
        font-family: Lato;
    }
    ::-moz-placeholder {
        font-family: Lato;
    }
    :-ms-input-placeholder {
        font-family: Lato;
    }
  }
  
  &--style fieldset {
    border: none;
  }
  
  &--style legend {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  &--style label {
    display: block;
    margin-bottom: 0.8rem;
  }
  
  &--style input[type="text"],
  &--style input[type="date"],
  &--style input[type="datetime"],
  &--style input[type="email"],
  &--style input[type="number"],
  &--style input[type="search"],
  &--style input[type="time"],
  &--style input[type="url"],
  &--style input[type="file"],
  &--style textarea,
  &--style select {
    background: $color-dark-grey;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    margin: 0;
    outline: 0;
    padding: 0.7rem;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-grey-light-2;
    color: $color-grey-dark-1;
    margin-bottom: 3rem;
  }
  
  &--style input[type="text"]:focus,
  &--style input[type="date"]:focus,
  &--style input[type="datetime"]:focus,
  &--style input[type="email"]:focus,
  &--style input[type="number"]:focus,
  &--style input[type="search"]:focus,
  &--style input[type="time"]:focus,
  &--style input[type="url"]:focus,
  &--style input[type="file"]:focus,
  &--style textarea:focus,
  &--style select:focus {
    background: $color-grey-light-1;
  }
  
  &--style select {
    -webkit-appearance: menulist-button;
    height: 3.5rem;
  }
  
  &--style .number {
    background: $color-primary;
    color: $color-white;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 1rem;
    line-height: 3rem;
    text-align: center;
    text-shadow: 0 0.1rem 0 $color-dark-grey;
    border-radius: 1.5rem 1.5rem 1.5rem 0;
  }
  
  &--style input[type="submit"],
  &--style input[type="button"] {
    position: relative;
    display: block;
    padding: 1.9rem 3.9rem 1.8rem 3.9rem;
    color: $color-white;
    margin: 0 auto;
    background: $color-primary;
    font-size: 1.8rem;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 0.1rem solid $color-primary;
    border-width: 0.1rem 0.1rem 0.3rem;
    margin-bottom: 1rem;
  }
  
  &--style input[type="submit"]:hover,
  &--style input[type="button"]:hover {
    background: $color-primary;
  }

  &__tabs {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    display: table;
    & > div {
      display: table-cell;
    }
  }

  &__element--width-50 {
    display: inline-block;
    width: 50%;
    padding: 0.5rem;
     &--1 {
       float: right;
     }
  }

  .college-form {
    display: none;
  }

  .professional-form {
    display: none;
  }

  .membership-cards {
    display: none;
  }

  &__radio {
    display: none;

    &--professional:checked+input+input+div {
      display: none;
    }
    
    &--professional:checked+input+input+div+div {
      display: block;
    }
    
    &--professional:checked+input+input+div+div+div {
      display: none;
    }

    // if college is checked 
    &--college:checked+input+div {
      display: none;
    }

    &--college:checked+input+div+div {
      display: none;
    }
  
    &--college:checked+input+div+div+div {
      display: block;
    }

    &--college:checked+input+div+div+div+div {
      display: none;
    }

    // if membership is checked
    &--membership:checked+div {
      display: none;
    }

    &--membership:checked+div+div {
      display: none;
    }
    
    &--membership:checked+div+div+div {
      display: none;
    }
    
    &--membership:checked+div+div+div+div {
      display: block;
    }

  }
}

.tab {
  padding: 0.1rem;
  color: $color-dark-grey;
  display: inline-block;
  align-content: center;
  
  &--with-border {
    display: block;
    letter-spacing: 0.3rem;
    border-right: 0.3rem solid $color-dark-grey;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  &--without-border {
    letter-spacing: 0.3rem;    
    padding-left: 0.5rem;
  }
}

label {
  cursor: pointer;
}

.membership-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
}

.rupee {
  &--symbol {
    position: absolute;
    top: 3rem;
    color: $color-primary;
    font-size: 3rem; 
    left: 0.6rem;
    &--threeDigit {
      left: -0.2rem;
    }
  }
  
  &--amount {
    font-size: 7rem;
    font-weight: 100;
  }
  &--decimal {
    color: $color-primary;
  }
  &--afterDecimal {
    font-size: 7rem;    
    font-weight: 100;
  }
}