.header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; // background-attachment: fixed;
  height: 100vh;
  
  
  &--about{
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/about-us.jpg');
  }
  
  &--advisory-council {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/advisory-council.jpg');
  }
  
  &--vision-mission {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/vision-mission.jpg');
  }

  &--code-of-conduct {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/code-of-conduct.jpg');
  }
  
  &--what-is-humtree {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/what-is-humtree.jpg');
  }

  &--why-plant-a-humtree {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/why-plant-a-humtree.jpg');
  }

  &--rules-of-reimbursement {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.45)), url('../img/page-hero-images/Reimbursement.jpeg');
  }

  &--how-humtree-grows {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/how-humtree-grows.jpg');
  }

  &--how-to-plant-a-humtree {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/how-to-plant-a-humtree.jpg');
  }

  &--team {
    background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.25)), url('../img/page-hero-images/team.jpg');
  }

  &__text-box {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.membership {
 
  margin-top: 8rem;

  &__header {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 700;
    color: $color-grey-dark-1;
    letter-spacing: 0.4rem;
  }

  &__sub-header {
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: $color-grey-light-3;
    font-weight: 300;
    font-size: 2.1rem;
    margin-top: -2rem;
  }
}