<% layout('Boilerplate.ejs') %>
<div class="header">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">About Us</span>
      <span class="heading-primary--sub">Get To Know Who We Are</span>
    </div>
  </div>
</div>
<div class="text-container">
  <p class="text-container__paragraph">
    We at HUM aspire to plant HUM Trees in various colleges throughout India. Planting the
    HUM Trees provide youth a platform to build a practical approach by promoting
    “Learning by Doing” through various fun and activity based modules. We will work to
    provide interactive sessions and conduct events that promote Team Work and Collective
    learning. We will lay special emphasis on values and ethics building to ensure more
    collaboration and less competition among the students. HUM Tree is a way of planting
    hopes among the students. We wish to collaborate with the students so as to learn, grow
    and blossom together.
  </p>
</div>