<% layout('Boilerplate.ejs') %>
<div class="header header--advisory-council">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">Advisory Council</span>
      <span class="heading-primary--sub">the godfathers of humtree</span>
    </div>
  </div>
</div>
<div class="u-margin-top-medium">
  <div class="row">
    <div class="col-1-of-3">
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img  class="card__image" src="img/advisory-council/abhinav-upadhyay.jpg" alt="">
        <div class="card__container">
          <h4 class="card__heading">Abhinav Upadhyay</h4>
          <p class="card__title">Assistant Professor</p>
        </div>
        <div class="card__links">
          <a class="card__icon_link"><i class="socicon-twitter"></i></a>
          <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
          <a class="card__icon_link"><i class="socicon-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img  class="card__image" src="img/advisory-council/alka-chaturvedi.jpg" alt="">
        <div class="card__container">
          <h4 class="card__heading">Alka Chaturvedi</h4>
          <p class="card__title">Assistant Professor</p>
        </div>
        <div class="card__links">
          <a class="card__icon_link"><i class="socicon-twitter"></i></a>
          <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
          <a class="card__icon_link"><i class="socicon-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img  class="card__image" src="img/advisory-council/alok-sharma.jpg" alt="">
        <div class="card__container">
          <h4 class="card__heading">Alok Sharma</h4>
          <p class="card__title">Professor</p>
        </div>
        <div class="card__links">
          <a class="card__icon_link"><i class="socicon-twitter"></i></a>
          <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
          <a class="card__icon_link"><i class="socicon-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <img  class="card__image" src="img/advisory-council/anand-sengupta.jpg" alt="">
        <div class="card__container">
          <h4 class="card__heading">Anand Sengupta</h4>
          <p class="card__title">Chief Information Officer</p>
        </div>
        <div class="card__links">
          <a class="card__icon_link"><i class="socicon-twitter"></i></a>
          <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
          <a class="card__icon_link"><i class="socicon-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img  class="card__image" src="img/advisory-council/arun-pradhan.jpg" alt="">
        <div class="card__container">
          <h4 class="card__heading">Arun Pradhan</h4>
          <p class="card__title">Entrepreneur & Principal Consultant</p>
        </div>
        <div class="card__links">
          <a class="card__icon_link"><i class="socicon-twitter"></i></a>
          <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
          <a class="card__icon_link"><i class="socicon-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img  class="card__image" src="img/advisory-council/darpan-dixit.JPG" alt="">
        <div class="card__container">
          <h4 class="card__heading">Darpan Dixit</h4>
          <p class="card__title">Director</p>
        </div>
        <div class="card__links">
          <a class="card__icon_link"><i class="socicon-twitter"></i></a>
          <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
          <a class="card__icon_link"><i class="socicon-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/anil-sethi.JPG" alt="">
          <div class="card__container">
          <h4 class="card__heading">Dr. Anil Sethi</h4>            
            <p class="card__title">CEO</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/kush-sanghi.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Kush Sanghi</h4>            
          <p class="card__title">Counsellor and Public Relation Expert</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/mamta-ketkar.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Mamta Ketkar</h4>            
            <p class="card__title">Director</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/mani-sana.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Mani Sana</h4>            
            <p class="card__title">Director</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/sanjay-katthal.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Sanjay Katthai</h4>            
            <p class="card__title">President</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/sudhir-sapra.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Sudhir Sapra</h4>            
            <p class="card__title">City Head</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/vikram-rajput.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Vikram Rajput</h4>            
            <p class="card__title">Training and Placement Officer</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
          <img  class="card__image" src="img/advisory-council/ashish-parakh.jpg" alt="">
          <div class="card__container">
          <h4 class="card__heading">Ashish Parakh</h4>            
            <p class="card__title">Chartered Accountant</p>
          </div>
          <div class="card__links">
            <a class="card__icon_link"><i class="socicon-twitter"></i></a>
            <a class="card__icon_link"><i class="socicon-linkedin"></i></a>
            <a class="card__icon_link"><i class="socicon-facebook"></i></a>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>