<% layout('Boilerplate.ejs') %>
<div class="header header--advisory-council">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">Advisory Council</span>
      <span class="heading-primary--sub">the godfathers of humtree</span>
    </div>
  </div>
</div>
<div class="u-margin-top-medium u-margin-bottom-big">
  <div class="row u-center-text">
    <a href="#" class="all-btn button">All</a>
    <a href="#" class="national-btn button">National</a>
    <a href="#" class="gwalior-btn button">Gwalior</a>
  </div>
</div>

<div class="grid">
  <div class="grid-item all national">
    <div class="card">
      <img class="card__image" src="img/advisory-council/anil-sethi.JPG" alt="">
      <div class="card__container">
        <h4 class="card__heading">Dr. Anil Sethi</h4>
        <p class="card__title">CEO</p>
        <p class="card__title">G K Group of Companies</p>
      </div>
    </div>
  </div>
  <div class="grid-item all national">
    <div class="card">
      <img class="card__image" src="img/advisory-council/anand-sengupta.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Anand Sengupta</h4>
        <p class="card__title">Chief Information Officer</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/sanjay-katthal.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Sanjay Katthai</h4>
        <p class="card__title">President</p>
        <p class="card__title">Association of Gwalior Youth Society</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/sudhir-sapra.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Sudhir Sapra</h4>
        <p class="card__title">City Head</p>
        <p class="card__title card__title--small">All India Parents Association & Founder, Hariyali Gang</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/alka-chaturvedi.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Alka Chaturvedi</h4>
        <p class="card__title">Assistant Professor</p>
        <p class="card__title">Prestige Institute of Management</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/arun-pradhan.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Arun Pradhan</h4>
        <p class="card__title card__title--small">Entrepreneur & Principal Consultant</p>
        <p class="card__title card__title--small">Sales & Marketing at Medical & Healthcare Device Consulting</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/abhinav-upadhyay.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Abhinav Upadhyay</h4>
        <p class="card__title">Assistant Professor</p>
        <p class="card__title">Amity University Madhya Pradesh</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/darpan-dixit.JPG" alt="">
      <div class="card__container">
        <h4 class="card__heading">Darpan Dixit</h4>
        <p class="card__title">Director</p>
        <p class="card__title">T.I.M.E. Institute Gwalior</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/kush-sanghi.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Kush Sanghi</h4>
        <p class="card__title">Marketing Manager</p>
        <p class="card__title">Amity University Madhya Pradhesh</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/mani-sana.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Mani Sana</h4>
        <p class="card__title">Director</p>
        <p class="card__title">ITM School of Art and Design</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/mamta-ketkar.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Mamta Ketkar</h4>
        <p class="card__title">Director</p>
        <p class="card__title">Rupankan Classes & An Artist</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/vikram-rajput.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Vikram Rajput</h4>
        <p class="card__title">Training and Placement Officer</p>
        <p class="card__title">MITS Gwalior</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/alok-sharma.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Alok Sharma</h4>
        <p class="card__title">Professor</p>
        <p class="card__title">Madhav Institute of Technology and Science</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/ashish-parakh.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Ashish Parakh</h4>
        <p class="card__title">Chartered Accountant</p>
      </div>
    </div>
  </div>
  <div class="grid-item all gwalior">
    <div class="card">
      <img class="card__image" src="img/advisory-council/mitendra.png" alt="">
      <div class="card__container">
        <h4 class="card__heading">Mitendra Meeth Singh</h4>
        <p class="card__title">Model</p>
        <p class="card__title">Mr. United Continents Fiero</p>
      </div>
    </div>
  </div>
</div>