<% layout('Boilerplate.ejs') %>
<div class="header">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">Advisory Council</span>
      <span class="heading-primary--sub">the godfathers of humtree</span>
    </div>
  </div>
</div>