<% layout('Boilerplate.ejs') %>
<div class="header">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">code of conduct</span>
      <span class="heading-primary--sub">values and principles we abide by</span>
    </div>
  </div>
</div>
<div class="text-container">
  <p class="text-container__paragraph">
    <h2>The following Code of Professional Conduct and Ethics shall be applicable to office bearers and members of all categories of the Society: </h2>
Members should at all times preserve the dignity and interest of the profession and of the Society by maintaining a high standard of professional and personal conduct;
They should work in the best interest of the Society;
They should neither engage in personal advertisement, nor canvas for an appointment, nor take any action which is detrimental;
They should at all times endeavour to establish and maintain the best possible conditions of service for their colleagues and other staff;
When a Member represents the Society, he should as far as possible state the policy of the Society. If he has any disagreement with a policy of the Society, he may so inform the Society. The Executive Council will then decide the further course of action (including the question of the Society’s representation) that is to be taken.
Where, having regard to this Code of Conduct a Member wishes to make a complaint against another Member of the Society, he should do so in writing to the Executive Council. If the Executive Council is of the opinion that prima-facie case of infringement of the Code of Conduct has been established it will appoint a Committee for investigation. On the basis of the report of the Committee, the Executive Council will take a final decision on the matter.
  </p>
</div>