<% layout('Boilerplate.ejs') %>
<div class="header header--code-of-conduct">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">code of conduct</span>
      <span class="heading-primary--sub">values and principles we abide by</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-bottom-small">
    <h3 class="heading-tertiary">The following Code of Professional Conduct and Ethics shall be applicable to office bearers and members of all categories of the Society: </h3>
  </div>
  <div class="text-container__list u-margin-top-medium">
    <ul class="text-list">
      <li class="text-list__item">
        Members should at all times preserve the dignity and interest of the profession and of the Society by maintaining a high
        standard of professional and personal conduct;
      </li>
      <li class="text-list__item">
        They should work in the best interest of the Society;
      </li>
      <li class="text-list__item">
        They should neither engage in personal advertisement, nor canvas for an appointment, nor take any action which is detrimental;
      </li>
      <li class="text-list__item">
        They should at all times endeavour to establish and maintain the best possible conditions of service for their colleagues
        and other staff;
      </li>
      <li class="text-list__item">
        When a Member represents the Society, he should as far as possible state the policy of the Society. If he has any disagreement
        with a policy of the Society, he may so inform the Society. The Executive Council will then decide the further course of
        action (including the question of the Society’s representation) that is to be taken.
      </li>
      <li class="text-list__item">
        Where, having regard to this Code of Conduct a Member wishes to make a complaint against another Member of the Society, he should do so in writing to the Executive Council. If the Executive Council is of the opinion that prima-facie case of infringement of the Code of Conduct has been established it will appoint a Committee for investigation. On the basis of the report of the Committee, the Executive Council will take a final decision on the matter.
      </li>
    </ul>
  </div>
  <div class="u-margin-top-medium">
    <div class="u-margin-bottom-small">
      <h3 class="heading-tertiary">FOR TEACHERS DEALING WITH STUDENTS: </h3>
    </div>
    <div class="text-container__list u-margin-top-medium">
      <ul class="text-list">
        <li class="text-list__item">
          The teacher must uphold the dignity and honour of his profession. Deal justly and impartially with students despite of their
          multi-cultural backgrounds.
        </li>
        <li class="text-list__item">
          Recognise the differences among students and seek to meet their individual needs. 
        </li>
        <li class="text-list__item">
          Teachers must aid students to develop an understanding and appreciation not only for the opportunities and benefits but
          also for the responsibilities being given.
        </li>
        <li class="text-list__item">
          Inculcate in students respect for teachers, love towards fellow students and loyalty to the institution as well as for the
          country.
        </li>
        <li class="text-list__item">
          Teach them to keep him pure in character and be diligent.
        </li>
        <li class="text-list__item">
          Teachers must conduct themselves with propriety in their profession.
        </li>
        <li class="text-list__item">
          Teachers must conduct themselves with propriety in their profession.
        </li>
        <li class="text-list__item">
          Acquaint students with civic responsibilities and towards the environmental protection.
        </li>
        <li class="text-list__item">
          Accept no remuneration for tutoring except in accordance with the approved policies of Government / Institutions.
        </li>
        <li class="text-list__item">
          Teachers should gain confidence of the students entrusted to their care, rendering to each one for the service and devotion.        
        </li>
      </ul>
    </div>
    <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary">DEALING WITH SOCIETY: </h3>
        <div class="text-container__list u-margin-top-medium">
          <ul class="text-list">
            <li class="text-list__item">
             Must render service to the humanity with full respect.
            </li>
            <li class="text-list__item">
             Adhere to any reasonable pattern of behaviour accepted by the Society.
            </li>
            <li class="text-list__item">
             Respect the community in which you are employed and be loyal to it.
            </li>
            <li class="text-list__item">
             Render possible assistance to the development of the Society and use your knowledge and skill for enhancement of human welfare.
            </li>
            <li class="text-list__item">
             Should be upright, instructed in the art of healing for the good sake of the society.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary">DEALING WITH EMPLOYER: </h3>
      </div>
      <div class="text-container__list u-margin-top-medium">
        <ul class="text-list">
          <li class="text-list__item">
             Employer must actively involve in the functioning and advancement of his/her profession.
          </li>
          <li class="text-list__item">
            He/She should participate in professional meetings as part of Educational programmes, organized by reputed professional
            academic bodies or any other authorized organisations.
          </li>
          <li class="text-list__item">
            Maintain the dignity and interest of the profession by maintaining high standard of professional service and personal conduct.
          </li>
          <li class="text-list__item">
            Co-operate in the development and implementation of institutional policies and programmes.
          </li>
          <li class="text-list__item">
            Conduct professional business through proper adequate channels.
          </li>
          <li class="text-list__item">
            Refrain from discussing confidential and official information with unauthorised people.
          </li>
          <li class="text-list__item">
            Accept no compensation from equipment suppliers and other agencies.
          </li>
          <li class="text-list__item">
            Never engage in any gainful employment outside the institution where the employment affects adversely on the professional
            status or when standing with the students, associates and society.
          </li>
          <li class="text-list__item">
            If any request or enquiry being made by an employer for any good cause, the same shall be duly acknowledged by each and
            very member of the organisation.
          </li>
        </ul>
      </div>
    </div>
    <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary">GENERAL BEHAVIOUR: </h3>
      </div>
      <div class="text-container__list u-margin-top-medium">
        <ul class="text-list">
          <li class="text-list__item">
            One must seek professional growth through study, research, and attending conferences, lectures, professional meetings and
            through other continuing education programmes.
          </li>
          <li class="text-list__item">
            Making the teaching profession ideally so attractive so that other people wants to join in and other practices are to be
            involved in order to attract youth as well.
          </li>
          <li class="text-list__item">
            One must be punctual and regular in their work, corresponding with others and keeping appointments time to time for the
            greater sharing of knowledge.
          </li>
          <li class="text-list__item">
             Encourage one's fellow teachers to adhere to proper ethical behaviour and conduct.
          </li>
          <li class="text-list__item">
            Speak constructively of other teachers and report honestly in matters involving the welfare of students, institution system
            and the profession.
          </li>
          <li class="text-list__item">
            Maintain active membership in professional organisation and through participation, strive to attain the objectives that
            justify such organisations.
          </li>
          <li class="text-list__item">
            Never seek self-enhancement through expressing evaluations or comparisons damaging to other professional workers.
          </li>
        </ul>
      </div>
  </div>
</div>