<% layout('Boilerplate.ejs') %>
<div class="header header--about">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">code of conduct</span>
      <span class="heading-primary--sub">values and principles we abide by</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-bottom-small">
    <h3 class="heading-tertiary">The following Code of Professional Conduct and Ethics shall be applicable to office bearers and members of all categories of the Society: </h3>
  </div>
  <p class="text-container__paragraph">
    Members should at all times preserve the dignity and interest of the profession and of the Society by maintaining a high standard of professional and personal conduct;
    They should work in the best interest of the Society;
    They should neither engage in personal advertisement, nor canvas for an appointment, nor take any action which is detrimental;
    They should at all times endeavour to establish and maintain the best possible conditions of service for their colleagues and other staff;
    When a Member represents the Society, he should as far as possible state the policy of the Society. If he has any disagreement with a policy of the Society, he may so inform the Society. The Executive Council will then decide the further course of action (including the question of the Society’s representation) that is to be taken.
    Where, having regard to this Code of Conduct a Member wishes to make a complaint against another Member of the Society, he should do so in writing to the Executive Council. If the Executive Council is of the opinion that prima-facie case of infringement of the Code of Conduct has been established it will appoint a Committee for investigation. On the basis of the report of the Committee, the Executive Council will take a final decision on the matter.
  </p>
  <div class="u-margin-top-medium">
    <div class="u-margin-bottom-small">
      <h3 class="heading-tertiary">FOR TEACHERS DEALING WITH STUDENTS: </h3>
    </div>
    <p class="text-container__paragraph">
       The teacher must uphold the dignity and honour of his profession. Deal justly and impartially with students despite of their
      multi-cultural backgrounds. Recognise the differences among students and seek to meet their individual needs. Teachers must
      aid students to develop an understanding and appreciation not only for the opportunities and benefits but also for the responsibilities
      being given. Inculcate in students respect for teachers, love towards fellow students and loyalty to the institution as well
      as for the country. Teach them to keep him pure in character and be diligent. Teachers must conduct themselves with propriety
      in their profession. Acquaint students with civic responsibilities and towards the environmental protection.Accept no remuneration for tutoring except in accordance with the approved policies of Government / Institutions. Teachers
      should gain confidence of the students entrusted to their care, rendering to each one for the service and devotion.
    </p>
  </div>
  <div class="u-margin-top-medium">
    <div class="u-margin-bottom-small">
      <h3 class="heading-tertiary">DEALING WITH EMPLOYER: </h3>
    </div>
    <p class="text-container__paragraph">
       Employer must actively involve in the functioning and advancement of his/her profession. He/She should participate in professional
      meetings as part of Educational programmes, organized by reputed professional academic bodies or any other authorized organisations.
      Maintain the dignity and interest of the profession by maintaining high standard of professional service and personal conduct.
      Co-operate in the development and implementation of institutional policies and programmes. Conduct professional business
      through proper adequate channels. Refrain from discussing confidential and official information with unauthorised people.
      Accept no compensation from equipment suppliers and other agencies. Never engage in any gainful employment outside the institution
      where the employment affects adversely on the professional status or when standing with the students, associates and society.
      If any request or enquiry being made by an employer for any good cause, the same shall be duly acknowledged by each and very
      member of the organisation.
    </p>
  </div>
  <div class="u-margin-top-medium">
    <div class="u-margin-bottom-small">
      <h3 class="heading-tertiary">GENERAL BEHAVIOUR: </h3>
    </div>
    <p class="text-container__paragraph">
       One must seek professional growth through study, research, and attending conferences, lectures, professional meetings and
      through other continuing education programmes. Making the teaching profession ideally so attractive so that other people
      wants to join in and other practices are to be involved in order to attract youth as well. One must be punctual and regular
      in their work, corresponding with others and keeping appointments time to time for the greater sharing of knowledge. Encourage
      one's fellow teachers to adhere to proper ethical behaviour and conduct. Speak constructively of other teachers and report
      honestly in matters involving the welfare of students, institution system and the profession. Maintain active membership
      in professional organisation and through participation, strive to attain the objectives that justify such organisations.
      Never seek self-enhancement through expressing evaluations or comparisons damaging to other professional workers.
    </p>
  </div>
</div>