<% layout('Boilerplate.ejs') %>
<div class="careers-container">
  <div class="form__container">
      <div class="form--style">
        <form>
          <fieldset>
            <legend>
            <span class="number">1</span> Your Info</legend>
            <input type="text" name="name" placeholder="Name *">
            <input type="number" name="phone" placeholder="Contact Number *">
            <input type="email" name="email" placeholder="Email *">
            <textarea name="message" placeholder="Leave a message *"></textarea>
          </fieldset>
          <input type="submit" value="Apply" class="field7">
        </form>
      </div>
    </div>
</div>