<% layout('Boilerplate.ejs') %>
<div class="events-container">
  <div class="event-details">
    <div class="event-details__event-date">
      <span class="event__time">Time: 8:00 A.M</span>
      <span class="event__date">Date: 12/2/2018</span>
    </div>
    <div class="event-details__event-name-desc">
      <div class="event-name">event name</div>
      <div class="event-desc">
        <span class="event-desc__sub-desc">
          want to attend?
        </span>
      </div>
    </div>
    <div class="event-links">
      <a href="http://www.facebook.com">www.facebook.com</a>
      <a href="http://www.facebook.com">www.facebook.com</a>
    </div>
  </div>
  <div class="event-image">
    <img src="img/events.jpg" alt="" class="event-image--card__image">
  </div>
</div>