<% layout('Boilerplate.ejs') %>
<section class="section-home">
        <div class="partner">
            <ul class="partner__list">
                <li class="partner__item"><a href="/about" class="partner__link"> about us</a></li>
                <li class="partner__item"><a href="/codeOfConduct" class="partner__link"> code of conduct </a></li>
                <li class="partner__item"><a href="" class="partner__link"> brochure </a></li>
                <li class="partner__item"><a href="" class="partner__link"> rules Of reimbursement </a></li>
                <li class="partner__item"><a href="" class="partner__link"> management committee</a></li>
                <li class="partner__item"><a href="" class="partner__link"> careers </a></li>
                <li class="partner__item"><a href="" class="partner__link"> how hum tree grows? </a></li>
            </ul>
        </div>
</section>