<% layout('Boilerplate.ejs') %>
<section class="section-home">
        <div class="partner">
            <ul class="partner__list">
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A1.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A2.jpg" class="partner__img" alt=""> </a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A3.jpg" class="partner__img" alt=""> </a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A4.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A5.jpg" class="partner__img" alt=""> </a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A6.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A7.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A8.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A9.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A10.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="/img/A11.jpg" class="partner__img" alt=""></a></li>
            </ul>
        </div>
        <div class="home-content">
            <div class="home__left">
                <div class="header__text-box-home">
                    <h1 class="heading-primary-home">
                        <span class="heading-primary-home--main">hum tree</span>
                        <span class="heading-primary-home--sub">harness your madness</span>                
                    </h1>
                </div>   
                <div class="home__left--floor-fade">
                    <ul class="slideshow">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>  
            </div>
            <div class="home__right">
                <div class="home-video">
                    <video  class="home-video__content"  preload="auto" muted loop>
                      <source src="img/Sketch.webm" type="video/webm">
                      <source src="img/Sketch.mp4" type="video/mp4">
                        browser not suported
                    </video>

                </div>
                <div class="pause">
                    &#9612;
                    &#9612;
                </div>
                <div class="play">
                    &#9658;
                </div>
            </div>
        </div>



</section>