<% layout('Boilerplate.ejs') %>
<section class="section-home">
        <div class="partner">
            <ul class="partner__list">
                <li class="partner__item"><a href="https://www.facebook.com/time.gwalior/" class="partner__link"><img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A1.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/foodloversspotstreetfood/?timeline_context_item_type=intro_card_work&timeline_context_item_source=100000828621849" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A2.jpg" class="partner__img" alt=""> </a></li>
                <li class="partner__item"><a href="https://www.facebook.com/xoingcafe/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A3.jpg" class="partner__img" alt=""> </a></li>
                <li class="partner__item"><a href="https://www.facebook.com/cityplazahotelgwalior/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A4.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A5.jpg" class="partner__img" alt=""> </a></li>
                <li class="partner__item"><a href="https://www.facebook.com/imagsmith/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A6.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/workshopopedia/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A7.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/AaryasProject/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A8.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/NISGwalior/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A9.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/infinityfilings/?ref=br_rs" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A10.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/DoctorAnilSethi/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A11.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A12.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/artwartbyarchie/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A13.jpg" class="partner__img partner__img--small" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/careerlaunchergwalior/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A14.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/EventO-149025869122765/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A15.png" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/Petiet-Patisserie-170342223577376/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A16.jpg" class="partner__img partner__img--small" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/gayatritrophy/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A17.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A18.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/thesethji/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A20.jpg" class="partner__img" alt=""></a></li>
                <li class="partner__item"><a href="https://www.facebook.com/karmashetratraining/" class="partner__link"> <img src="https://s3.ap-south-1.amazonaws.com/humtreev1/A19.png" class="partner__img" alt=""></a></li>
            </ul>
        </div>
        <div class="home-content">
            <div class="home__left">
                <div class="header__text-box-home">
                    <h1 class="heading-primary-home">
                        <span class="heading-primary-home--main">hum tree</span>
                        <span class="heading-primary-home--sub">harness your madness</span>                
                    </h1>
                </div>   
                <div class="home__left--floor-fade">
                    <ul class="slideshow">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>  
            </div>
            <div class="home__right">
                <div class="home-video">
                    <video  class="home-video__content"  preload="auto" loop>
                      <!-- <source src="img/Sketch.webm" type="video/webm"> -->
                      <source src="https://s3.ap-south-1.amazonaws.com/humtreev1/sketch.mp4" type="video/mp4">
                        browser not suported
                    </video>

                </div>
                <div class="pause">
                    &#9612;
                    &#9612;
                </div>
                <div class="play">
                    &#9658;
                </div>
            </div>
        </div>



</section>