<% layout('Boilerplate.ejs') %>
<div class="header header--about">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">how humtree grows?</span>
      <span class="heading-primary--sub">growth of humtree</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-top-small">
      <p class="text-container__paragraph">
         To plant a HUM tree, is to believe in tomorrow. Once you plant a HUM Tree, you have to follow a well-researched and exclusively
        designed module, so that the plant can grow and bear fruits!
      </p>
  </div>
  <div class="u-margin-top-medium">
    <div class="u-margin-bottom-small">
      <h3 class="heading-tertiary">Modules (1-6) that will be customized as per your college and curriculum. Once the tree is planted, our HR Team will design
      these 6 modules as per your course and customize it. </h3>
    </div>
    <div class="text-container__list u-margin-top-medium">
      <ol class="text-list">
        <li class="text-list__item"> 
          <span class="heading-tertiary heading-tertiary--dark">Member Development Program:</span>
           Once you establish a chapter and every year in the month of establishment, the college has to organize a member development
          program. It includes preparing members to work actively with the chapter activities. List of Activities to be organized will
          be made available by the HR management of HUM.
        </li>
        <li class="text-list__item u-margin-top-small"> 
          <span class="heading-tertiary heading-tertiary--dark">Workshops:</span>
          <ol class="text-list text-list--lower-alphabets">
            <li class="text-list__item u-margin-top-small"> Softwares: Adobe CorelDraw, Adobe Photoshop, MS Office, SPSS as per interest, requirement or curriculum.</li>            
            <li class="text-list__item u-margin-top-small"> Psychological Workshops: How to participate in a team; Is saying Sorry a Big thing and many more!</li>            
            <li class="text-list__item u-margin-top-small"> Management Sessions: Image Management, Career Guidance, Time Management, Work Life Balance, Social Media Management etc.</li>            
            <li class="text-list__item u-margin-top-small"> Group Discussions and Mock Interview Sessions</li>            
          </ol>
        </li>
        <li class="text-list__item u-margin-top-small"> 
          <span class="heading-tertiary heading-tertiary--dark">Public Speaking Activity </span>(at least once a year)
        </li>
        <li class="text-list__item u-margin-top-small">
          <span class="heading-tertiary heading-tertiary--dark">Awareness Program: </span>          
           (Suggested topics: Human Rights, Stock Exchange etc.)</li>
        <li class="text-list__item u-margin-top-small"> 
          <span class="heading-tertiary heading-tertiary--dark">Corporate Image Processing Seminar/Training</span>          
        </li>
        <li class="text-list__item u-margin-top-small"> 
          <span class="heading-tertiary heading-tertiary--dark">IIP (Industry Insight Program) </span> (at least once a year)
        </li>
      </ol>
    </div>
    <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary"> Activities that must be organised compulsorily. </h2>
      </div>
      <ol class="text-list">
        <li class="text-list__item u-margin-top-small">
          <span class="heading-tertiary heading-tertiary--dark">HUMara Classroom (once a month):</span>
          <ol class="text-list text-list--lower-alphabets">
            <li class="text-list__item u-margin-top-small"> 
               It is a kind of monthly meeting, where the representatives will finalize the activities to be organized before organization
              of next Classroom. Meeting also includes query solving sessions and will serve as a general interaction forum.
            </li>
            <li class="text-list__item u-margin-top-small"> 
              HUMara Classroom is an exclusive idea to make the meetings more happening. The concept focuses on sharing of ideas. For
              eg. If A knows Photoshop, and B knows Marketing Skills, they can meet and share their knowledge. Once it happens, A and B
              will both know Photoshop and Marketing skills. This is a kind of collective learning platform. Members of HUM in your college can organize workshops and share their knowledge with other members.
            </li>
            <li class="text-list__item u-margin-top-small"> 
               A feedback session should be conducted after it.
            </li>
          </ol>
        </li>
        <li class="text-list__item u-margin-top-small">
          <span class="heading-tertiary heading-tertiary--dark">Annual Activity:</span> 
          Every year in the month of January, a special activity will be announced that must be organized by every
          college chapter.
        </li>
  </div>
  <div class="u-margin-top-medium">
    <div class="heading-secondary">Before & After Organising any Activity:</div>
    <div class="u-margin-top-small">
      <h3 class="heading-tertiary"> All the promotion material, banners or posters, will mention any activity as “ABC ACTIVITY/EVENT/CAMP” – an initiative by
      HUM
         &lt;College&gt; Tree. </h2>
    </div>
    <div class="text-container__list u-margin-top-medium">
      <ol class="text-list text-list--upper-alphabets">
        <li class="text-list__item u-margin-top-small"> 
          Before organizing any activity under HUM tree, a letter informing the details of activity, duly signed by at most one chapter
          officer and compulsorily by any one faculty advisor (professional member of HUM) will be mailed to <a class="text-list__link" href="#"> thehumtree@gmail.com </a>.
        </li>
        <li class="text-list__item u-margin-top-small"> 
           A sample report, as provided, will be prepared once the activity is held. Attach three to four best clicked pictures with
          the report. These reports will assess the jury in deciding various awards as mentioned after. The reports will be published
          in Quarterly published The Mosaic-Newsletter of HUM.
        </li>
        <li class="text-list__item u-margin-top-small"> 
           A certificate of organizing duly signed by HUM Authorities, for any activity organized will be issued once the names of
          organizers are received in the reports sent. All the other certificates of participation and winners will be signed by faculty
          advisor and college Director/Principal or Dean Student Welfare/TnP Officer.
        </li>
        <li class="text-list__item u-margin-top-small"> 
           In case any news in Media is published, it is the duty of officers to kindly inform or sent a copy of it via email and kindly
          brings the same to our notice as soon as possible.
        </li>
        <li class="text-list__item u-margin-top-small"> 
           All the activities must focus on “Learning by Doing” concept and all the members of HUM must participate and organize some
          or the other activity in college during their membership, to enhance the chapter. The basic aim of planting the HUM Tree
          is to learn from each other and learn together.
        </li>
      </ol>
    </div>
  </div>
</div>