<% layout('Boilerplate.ejs') %>
<div class="header header--about">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">how to plant a humtree?</span>
      <span class="heading-primary--sub">know about planting a humtree</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-top-small">
      <p class="text-container__paragraph">
        Sitting under a HUM Tree will help you one to one interaction, team work,
        management forums, discussions and symposia that helps in professional
        development of an individual. Preparation and Presentation of papers and
        reports annually and efforts on various live projects helps in giving a practical
        exposure to studies.
      </p>
      <div class="u-margin-top-medium">
        <div class="u-margin-bottom-small">
          <h3 class="heading-tertiary"> Plant a HUM tree in 5 green steps: </h3>
        </div>
        <p class="text-container__paragraph u-margin-top-small">
          * Entries made during the application process may be saved and completed at a later time by visiting the URL sent to the
          chapter email address.
        </p>
        <p class="text-container__paragraph u-margin-top-small">
           Step 1: Enter Tree name (HUM
             &lt;College Name&gt; Tree) and Tree email address - <a class="text-list__link" href="#">collegename.humtree@gmail.com</a>
        </p>
        <p class="text-container__paragraph u-margin-top-small">
          Step 2: Enter the names of the individuals to serve as Chair, Vice Chair and Treasurer. These individuals must be <a class="text-list__link" href="#"> HUM Student Members </a>.
          In addition, two Faculty Advisors with a <a class="text-list__link" href="#"> HUM Professional Membership </a> is required.
        </p>
        <p class="text-container__paragraph u-margin-top-small">
           Step 3: Enter Tree contact information (postal address and phone number).
        </p>
        <p class="text-container__paragraph u-margin-top-small">
           Step 4: Enter the names of at least ten (10) individuals willing to carry out the chapter's mission and participate in activities.
          An excel sheet (comma- separated values) containing the last name, middle, first name, department, year of graduation, contact
          number and email addresses of these members will be required. Individuals can be from different departments of same college.
        </p>
        <p class="text-container__paragraph u-margin-top-small">
          Step 5: Completed HUM Tree Application, indicating a declaration of support from the Principal / Dean of Engineering College
          and Department Head with College seal, with the enclosures mentioned in it.
        </p>
        <p class="text-container__paragraph u-margin-top-small">
          Once the completed application is submitted, it will be reviewed by the HUM Activity Manager within 5-7 working days.
        </p>
      </div>
  </div>
</div>