<% layout('Boilerplate.ejs') %>
<div class="header">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">how to plant a humtree?</span>
      <span class="heading-primary--sub">know about planting a humtree</span>
    </div>
  </div>
</div>