<% layout('Boilerplate.ejs') %>
<div class="header header--about">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">Management Committee</span>
      <span class="heading-primary--sub">who are with us in this mission</span>
    </div>
  </div>
</div>