<% layout('Boilerplate.ejs') %>
<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <div class="content">
        <h3 class="heading-tertiary student-heading-tertiary">Student: </h3>
        <h3 class="heading-tertiary professional-heading-tertiary">Professional: </h3>
        <h3 class="heading-tertiary institutional-heading-tertiary">Institutional Membership/ Honrary Membership: </h3>
        <div class="text-container__list u-margin-top-small">
          <ol class="text-list student-content-details">
            <li class="text-list__item">
              Access to more than 300 workshops in different parts of India
            </li>
            <li class="text-list__item">
              Exclusively Designed Annual Member Development Program
            </li>
            <li class="text-list__item">
              Network, share & exchange knowledge & experience within the network
            </li>
            <li class="text-list__item">
              Enlarge your personal and professional networks
            </li>
            <li class="text-list__item">
              Golden Badge for 3 year members
            </li>
            <li class="text-list__item">
              Certificate of Membership
            </li>
            <li class="text-list__item">
               Certificate of Participations
            </li>
            <li class="text-list__item">
              Active Members to be featured in HUM Mosaic
            </li>
            <li class="text-list__item">
             +1 Membership Scheme for members of College Trees
            </li>
          </ol>
          <ol class="text-list professional-content-details">
            <li class="text-list__item">
              Be a HUM Mentor and Advisor
            </li>
            <li class="text-list__item">
              Access to more than 300 workshops in different parts of India
            </li>
            <li class="text-list__item">
              Network, share & exchange knowledge & experience within the network
            </li>
            <li class="text-list__item">
              Enlarge your personal and professional networks
            </li>
            <li class="text-list__item">
               Certificate of Membership
            </li>
            <li class="text-list__item">
               Publish your Articles in HUM Mosaic
            </li>
          </ol>
          <ol class="text-list institutional-content-details">
            <li class="text-list__item">
              Promotion in more than 300 workshops in different parts of India
            </li>
            <li class="text-list__item">
              Logo promotion on social media platform
            </li>
            <li class="text-list__item">
              Logo with Social Media Link on our Website Home Page
            </li>
            <li class="text-list__item">
              1 Page Article in Mosaic
            </li>
            <li class="text-list__item">
               Certificate of Institutional Membership
            </li>
          </ol>
        </div>
      </div>
      <img src="img/modal.svg" alt="">
    </div>
  </div>
</div>
<div class="membership">
  <h1 class="membership__header">membership plans</h1>
  <h4 class="membership__sub-header">become a part of the revolution</h4>
</div>
<div class="form">
  <div class="form__tabs">
    <div>
      <div class="tab">
        <span class="tab--with-border">
          <label for="radio-stu">Student</label>
        </span>
      </div>
      <div class="tab">
        <span class="tab--with-border professional">
          <label for="radio-pro">Professional</label>
        </span>
      </div>
      <div class="tab">
        <span class="tab--without-border college">
          <label for="radio-col">College</label>
        </span>
      </div>
    </div>
    <div>
      <label for="radio-mem" class="button">Pricing</label>  
    </div>
  </div>
  <input id="radio-stu" type="radio" name="selectFormRadio" class="form__radio form__radio--student" checked>          
  <input id="radio-pro" type="radio" name="selectFormRadio" class="form__radio form__radio--professional">          
  <input id="radio-col" type="radio" name="selectFormRadio" class="form__radio form__radio--college">
  <input id="radio-mem" type="radio" name="selectFormRadio" class="form__radio form__radio--membership">
  <div class="form__container student-form">
    <div class="form--style">
      <form>
        <fieldset>
          <legend>
          <span class="number">1</span> Candidate Info</legend>
          <input type="text" name="name" placeholder="Name *">
          <textarea name="address" placeholder="Residential Address *"></textarea>
          <input type="text" name="homeTown" placeholder="Home Town *">
          <input type="number" name="phone" placeholder="Contact Number *">
          <input type="email" name="email" placeholder="Email *">
          <input type="text" name="college" placeholder="College/School/Institution/Company">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="Other">Other</option>
          </select>
        </fieldset>
        <!-- <fieldset>
          <legend>
            <span class="number">2</span> Documents Provided</legend>
            <label for="id">Id Proof:</label>
            <select id="id" name="id">
              <option value="license">License</option>
              <option value="bill">Bill</option>
              <option value="idCard">Identity Card</option>
              <option value="adhaar">Adhaar</option>
            </select>
        </fieldset>
        <input type="file">
        <label for="marksheet">10th Marksheet:</label>
        <input id="marksheet" type="file"> -->
        <input type="submit" value="Apply" class="field7">
      </form>
    </div>
  </div>
  <!-- Professional Form -->
  <div class="form__container professional-form">
    <div class="form--style">
      <form>
        <fieldset>
          <legend>
          <span class="number">1</span> Candidate Info</legend>
          <input type="text" name="name" placeholder="Name *">
          <textarea name="address" placeholder="Residential Address *"></textarea>
          <input type="text" name="areaOfExpertise" placeholder="Area Of Expertise *">
          <input type="number" name="phone" placeholder="Contact Number *">
          <input type="email" name="email" placeholder="Email *">
          <textarea name="collegeWithAddress" placeholder="College/School/Institution/Company (With Address)"></textarea>
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="Other">Other</option>
          </select>
        </fieldset>
        <!-- <fieldset>
          <legend>
            <span class="number">2</span> Documents Provided</legend>
            <label for="id">Id Proof:</label>
            <select id="id" name="id">
              <option value="license">License</option>
              <option value="bill">Bill</option>
              <option value="idCard">Identity Card</option>
              <option value="adhaar">Adhaar</option>
            </select>
        </fieldset>
        <input type="file">
        <label for="marksheet">10th Marksheet:</label>
        <input id="marksheet" type="file"> -->
        <input type="submit" value="Apply" class="field7">
      </form>
    </div>
  </div>
  <!-- Collge form -->
  <div class="form__container college-form">
    <div class="form--style">
      <form>
        <fieldset>
          <legend>
          <span class="number">1</span> College Info</legend>
          <input type="text" name="clgName" placeholder="College Name *">
          <textarea name="clgAddress" placeholder="College Address *"></textarea>
          <div>
            <div class="form__element--width-50">
              <input type="text" name="clgCity" placeholder="City *">
            </div>
            <div class="form__element--width-50 form__element--width-50--1">
              <input type="text" name="clgState" placeholder="State *">
            </div>
          </div>
          <input type="text" name="clgPincode" placeholder="Pincode">
          <input type="text" name="clgWebPage" placeholder="Website">
          <input type="text" name="clgAttachedToUniversity" placeholder="Attached To University">
        </fieldset>
        <fieldset>
          <legend><span class="number">2</span> Programs Offered By College </legend>
          <input type="text" name="clgPrg" placeholder="Program" class="prg-1">
        </fieldset>
        <fieldset>
          <legend><span class="number">3</span> Faculty Advisor Information </legend>
          <input type="text" name="fName" placeholder="Name *">
          <input type="text" name="fDesignaton" placeholder="Designation *">
          <input type="text" name="fDepartment" placeholder="Department *">
          <textarea name="fAddress" placeholder="Residential Address *"></textarea>
          <div>
            <div class="form__element--width-50">
              <input type="text" name="fCity" placeholder="City *">
            </div>
            <div class="form__element--width-50 form__element--width-50--1">
              <input type="text" name="fState" placeholder="State *">
            </div>
          </div>
          <input type="text" name="fPincode" placeholder="Pincode *">
          <div>
            <div class="form__element--width-50">
              <input type="number" name="mobile" placeholder="Mobile *">
            </div>
            <div class="form__element--width-50 form__element--width-50--1">
              <input type="number" name="phone" placeholder="Phone *">
            </div>
          </div>
          <input type="email" name="email" placeholder="Email *">
        </fieldset>
        <fieldset>
          <legend><span class="number">4</span> Additional Faculty Advisor Information </legend>
          <input type="text" name="fName" placeholder="Name *">
          <input type="text" name="fDesignaton" placeholder="Designation *">
          <input type="text" name="fDepartment" placeholder="Department *">
          <textarea name="fAddress" placeholder="Residential Address *"></textarea>
          <div>
            <div class="form__element--width-50">
              <input type="text" name="fCity" placeholder="City *">
            </div>
            <div class="form__element--width-50 form__element--width-50--1">
              <input type="text" name="fState" placeholder="State *">
            </div>
          </div>
          <input type="text" name="fPincode" placeholder="Pincode *">
          <div>
            <div class="form__element--width-50">
              <input type="number" name="mobile" placeholder="Mobile *">
            </div>
            <div class="form__element--width-50 form__element--width-50--1">
              <input type="number" name="phone" placeholder="Phone *">
            </div>
          </div>
          <input type="email" name="email" placeholder="Email *">
        </fieldset>
        <input type="submit" value="Apply" class="submit-btn">
      </form>
    </div>
  </div>
  <!-- membership -->
  <div class="form__container membership-cards">
    <div class="row">
      <div class="col-1-of-3">
        <div class="card card--pricing">
          <div class="card__container">
            <h4 class="card__heading card__heading--pricing">STUDENT</h4>
            <p class="card__title card__title--pricing"> 
              <span class="rupee--symbol">&#x20b9;</span> 
              <span class="rupee--amount">500.0</span>
            </p>
          </div>
          <div class="card--pricing-content-container">
            <p>1 Year Membership</p>
            <p>Certificate of Membership</p>
            <p>Get featured in HUM Mosaic</p>
          </div>
          <div class="membership-button">
            <a href="#" id="one" class="button stu-details-btn button--full">Details</a>
            <a href="#" class="button stu-choose-btn button--full">Choose</a>            
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card card--pricing">
          <div class="card__container">
            <h4 class="card__heading card__heading--pricing">PROFESSIONAL</h4>
            <p class="card__title card__title--pricing">
              <span class="rupee--symbol rupee--symbol--threeDigit">&#x20b9;</span>
              <span class="rupee--amount">1000.0</span>
            </p>
          </div>
          <div class="card--pricing-content-container">
            <p>1 Year Membership</p>
            <p>Be a HUM Mentor and Advisor</p>
            <p>Certificate of Membership</p>
          </div>
          <div class="membership-button">
            <a href="#" id="one" class="button pro-details-btn button--full">Details</a>
            <a href="#" class="button pro-choose-btn button--full">Choose</a>            
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card card--pricing">
          <div class="card__container">
            <h4 class="card__heading card__heading--pricing">Institutional</h4>
            <p class="card__title card__title--pricing">
              <span class="rupee--symbol rupee--symbol--threeDigit">&#x20b9;</span>
              <span class="rupee--amount">5000.0</span>
            </p>
          </div>
          <div class="card--pricing-content-container">
            <p>1 Year Membership</p>
            <p>1 Page Article in Mosaic</p>
            <p>Certificate of Institutional Membership </p>
          </div>
          <div class="membership-button">
            <a href="#" id="one" class="button ins-details-btn button--full">Details</a>
            <a href="#" class="button ins-choose-btn button--full">Choose</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>