<% layout('Boilerplate.ejs') %>
	<section class="section-projects">
		<div class="u-center-text  ">
			<h2 class="heading-secondary u-margin-top-medium u-margin-bottom-medium">
				Projects
			</h2>
		</div>
		<ul class="gallery__list">
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P1.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P2.jpg" class="gallery__image gallery__image--size-quater" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P3.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P4.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P5.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P6.jpg" class="gallery__image gallery__image--size-half" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P8.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P9.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P10.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P11.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
			<li class="gallery__list-item">
				<a href="#" class="gallery__link">
					<img src="img/P12.jpg" class="gallery__image gallery__image--size-full" />
				</a>
			</li>
		</ul>
	</section>