<% layout('Boilerplate.ejs') %>
<div class="header header--rules-of-reimbursement">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">rules of reimbursement</span>
      <span class="heading-primary--sub">claim your rightful amount</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-bottom-small">
    <h3 class="heading-tertiary">Following is the eligibility criteria for reimbursement of funds for HUM College Trees, so that Tree can organise activities under HUM tree: </h3>
  </div>
  <div class="text-container__list u-margin-top-medium">
    <ol class="text-list">
      <li class="text-list__item">
        The members opting for annual membership (Rs.500/- per year) would
        not be eligible for reimbursement. Only Members opting for +1
        memberships will be eligible for Reimbursement.
      </li>
      <li class="text-list__item">
        The members opting for 1+1 year membership would be eligible for a
        reimbursement of Rs. 50 for the first year of membership.
      </li>
      <li class="text-list__item">
        The members opting for 1+2 year membership would be eligible for a
        reimbursement of Rs. 100 for the first 2 years of membership..
      </li>
      <li class="text-list__item">
        The members opting for 1+3 year membership would be eligible for a
        reimbursement of Rs. 150 for the first 3 years of membership.
      </li>
      <li class="text-list__item">
        The members opting for 1+4 year membership would be eligible for a
        reimbursement of Rs. 200 for the first 4 years of membership.
      </li>
    </ol>
  </div>
  <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary">
          Rewards For Chapter
        </h3>
      </div>
      <p class="text-container__paragraph">
        There will be additional reward which will be added in the reimbursement if the chapter encourages another college to open
        a HUM chapter then the chapter would be eligible for a reimbursement of additional Rs 10 per member and the name of the college
        would be published in the Mosaic which is the national newsletter forHUM. This will also give you an edge above the other
        collegescollege who are competing for best HUM College Tree Award.
      </p>
       <p class="text-container__paragraph">
         <div class="text-container__list u-margin-top-small">
            The rules regarding referrals would be as follows:
            <ol class="text-list">
              <li class="text-list__item">
                The maximum number of chapters that can be opened by the
                reference of one chapter would be maximum 3 in one year.
              </li>
              <li class="text-list__item">
                The additional reimbursement for the same would be added in the reimbursement of next year, which would be the year succeeding
                the one in which the chapters are opened.
              </li>
              <li class="text-list__item">
                One faculty member of the new chapter being opened would certify the name of the chapter that encouraged them to open one
                in their institute.
              </li>
            </ol>
          </div>
       </p>
  </div>
  <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary">
          Rewards for Individual
        </h3>
      </div>
      <p class="text-container__paragraph">
        If any particular member, by his/her own efforts, encourages a chapter to be opened in another institute, then he/she shall
        be rewarded with an appreciation certificate during the annual convocation of HUM as HUM ambassador and his/her name would
        be published in Mosaic, the national newsletter for HUM. The only condition being, the faculty advisory and student representative
        of established chapter must confirm his/her efforts.
      </p>
  </div>
  <div class="u-margin-top-medium">
    <div class="u-margin-bottom-small">
      <p class="text-container__paragraph">
        To download the reimbursement form click here: <a class="text-list__link" href="https://s3.ap-south-1.amazonaws.com/humtree/REIMBURSEMENTS+FROM+HUM.pdf"> reimbursement_brochure.pdf </a>
      </p>
    </div>
  </div>
</div>