<% layout('Boilerplate.ejs') %>
<div class="stories-container">
  <div class="story-1">
    <div class="stories-heading-container">
      <div class="stories-main-heading">
        Dr. Anil Sethi
      </div>
      <div class="stories-sub-heading">
        Transformation Expert, Motivator and Life Coach
      </div>
    </div>
    <div class="story-main">
      <div class="stories-image">
        <img src="img/advisory-council/anil-sethi.JPG" alt="">
      </div>
      <div class="stories-content">
        Our education system is not based on practical knowledge; therefore initiatives like HUM become pivotal. In my personal
        experience, I’ve seen many overachieving students fail in the corporate sector due to lack of soft skills like communication,
        positive attitude & capability to work in a team. Moral values & ethics are the fundamentals of any man/woman. Without these
        essential attributes, all worldly achievements become nullified. I am sure this initiative of HUM can make a big difference
        to fill the pragmatic experience gap between the university teachings and professional field.
      </div>
    </div>
  </div>
  <div class="story-2">
    <div class="stories-heading-container">
      <div class="stories-main-heading">
        Chandrakant Patil
      </div>
      <div class="stories-sub-heading">
        Cofounder and CTO ― Texec Pvt. Ltd And Chief Editor, IGadgetware
      </div>
    </div>
    <div class="story-main">
      <div class="stories-image">
        <img src="img/stories/patil.jpg" alt="">
      </div>
      <div class="stories-content">
        I can bet this is gonna be a very very successful initiative for our youth. I have always had a thought of doing something
        like this for the betterment of our youth but now you seem to be ahead of me and I'm very happy for that. As I always love
        to help and support our young minds, I would be more than happy to contribute at every phase of this initiative towards collaboration,
        larger presence, workshops, training & entrepreneurship.This can help our youth in many ways. As we all know we are still
        lacking of platforms where they can truly know themselves, what are their key skills and what kind of opportunities are there
        if they choose that particular domain. Well that's just one of the aspects out of so many which I can personally look forward
        to and can lead too. Wish you all a great success and let the HUM enlighten the lives of thousands and lakhs of people.
      </div>
    </div>
  </div>
  <div class="story-3">
    <div class="stories-heading-container">
      <div class="stories-main-heading">
        Dr. Meenakshi Malhotra
      </div>
      <div class="stories-sub-heading">
        Professor ― University Business School & Chief Vigilance Officer, Panjab University
      </div>
    </div>
    <div class="story-main">
      <div class="stories-image">
        <img src="img/stories/meenakshi.jpg" alt="">
      </div>
      <div class="stories-content">
        Any individual who wants to successfully develop today has to learn both ways, task oriented as well as people oriented.
        Collective and Collaborative learning can be a way for being people oriented, this develops the emotional intelligence. Today,
        one must be able to manage his/her emotions as well as empathize with others. One must learn relationship management. HUM
        is trying to enhance individual’s emotional quotient, so that he/she can be successful in different endeavours in future.
        Wish you the best!
      </div>
    </div>
  </div>
  <div class="story-4">
    <div class="stories-heading-container">
      <div class="stories-main-heading">
        Mrs. Supriya Satyabhaiya
      </div>
      <div class="stories-sub-heading">
        Founder, Image Smith
      </div>
    </div>
    <div class="story-main">
      <div class="stories-image">
      <img src="img/stories/supriya.jpg" alt="">
      </div>
      <div class="stories-content">
        Research says human memory is "photographic", hence we remember what we see (& do). I am very sure this program will be
        very beneficial as it will equip students with hands on experience, which we lack currently in our system, hence directly
        impacting the employ-ability. Therefore what Benjamin Franklin once said appears true to be in current scenario, "tell me
        and I forget, teach me and I may remember, involve me and I learn".
      </div>
    </div>
  </div>
  <div class="story-5">
    <div class="stories-heading-container">
      <div class="stories-main-heading">
        Mr M K Khatri
      </div>
      <div class="stories-sub-heading">
        GM, Human Resource, Alert India Pvt. Ltd.
      </div>
    </div>
    <div class="story-main">
      <div class="stories-image">
        <img src="img/stories/mk.jpeg" alt="">
      </div>
      <div class="stories-content">
        The gap is increasing because institutes have their limitations, they teach them tried and tested ways to solve a problem.
        Because students absorb that a degree is just enough to get a job. Because industry ready resource is not available. If not
        the whole education system, a small add in to it may work. HUM is working to bridge this gap and it is really the most neede
        step in the direction to empower youth.
      </div>
    </div>
  </div>
  <div class="story-6">
    <div class="stories-heading-container">
      <div class="stories-main-heading">
        Mr. S R Singhvi
      </div>
      <div class="stories-sub-heading">
        Chief of Human Resource, Ghorahi Cement, Kathmandu, Nepal
      </div>
    </div>
    <div class="story-main">
      <div class="stories-image">
        <img src="img/stories/sr.jpeg" alt="">
      </div>
      <div class="stories-content">
        There is a big need to work on graduates and postgraduates and prepare them for the industry. The organisation is trying
        to solve the problem proactively as the need for skilled human resource is increasing. A employee must be a team player and
        must have an ability to learn and unlearn. HUM has initiated this project with a very well defined process. May the HUM tree
        grows and this gap bridges up soon. Best wishes.
      </div>
    </div>
  </div>
  <div class="stories-nav">
    <div class="stories-nav__bar" id="one-nav">&nbsp;</div>
    <div class="stories-nav__bar" id="two-nav">&nbsp;</div>
    <div class="stories-nav__bar" id="three-nav">&nbsp;</div>
    <div class="stories-nav__bar" id="four-nav">&nbsp;</div>
    <div class="stories-nav__bar" id="five-nav">&nbsp;</div>
    <div class="stories-nav__bar" id="six-nav">&nbsp;</div>
  </div>
</div>
