<% layout('Boilerplate.ejs') %>
<div class="header header--team">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">TEAM</span>
      <span class="heading-primary--sub">the family</span>
    </div>
  </div>
</div>

<div class="grid u-margin-top-medium u-margin-bottom-big">
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/akash.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Akash Arora</h4>
        <p class="card__title">President</p>
        <p class="card__title">HUM Foundation & Director</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/vishal.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Vishal Aren</h4>
        <p class="card__title">Secretary</p>
        <p class="card__title">HUM Foundation & Director</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/Sakshi.JPG" alt="">
      <div class="card__container">
        <h4 class="card__heading">Sakshi Rajpoot</h4>
        <p class="card__title">Joint Secretary</p>
        <p class="card__title">HUM Foundation</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/Harshaditya.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Harshaditya Garg</h4>
        <p class="card__title">Director</p>
        <p class="card__title">Vihaan-Activity Cell</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/Kaushal.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Kaushal Sahu</h4>
        <p class="card__title">Regional Head</p>
        <p class="card__title">Gwalior Chambal Division</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/vartika.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Adv Vartika Saxena</h4>
        <p class="card__title">Chair</p>
        <p class="card__title"> HUM Gwalior Tree</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/anmol-g-arya.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Dr. Anmol Arya</h4>
        <p class="card__title">Chair</p>
        <p class="card__title">HUM Cakery Tree</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/Archie.jpg" alt="">
      <div class="card__container">
        <h4 class="card__heading">Archie Jain Pawaiya</h4>
        <p class="card__title">Chair</p>
        <p class="card__title">HUM Fine Arts Tree</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <img class="card__image" src="https://s3.ap-south-1.amazonaws.com/humtreev1/shivani.jpg" alt="Image not found">
      <div class="card__container">
        <h4 class="card__heading">Shivani Soni</h4>
        <p class="card__title">Chair</p>
        <p class="card__title">HUM MITS Tree</p>
      </div>
    </div>
  </div>
</div>