<% layout('Boilerplate.ejs') %>
<section class="section-verticals">
   
  
    <div class="u-center-text  ">
        <h2 class="heading-secondary u-margin-top-medium u-margin-bottom-medium">
         Verticals
        </h2>
      </div>


    <ul  class="gallery__list">
        <li class="gallery__list-item">
            <a href="#" class="gallery__link">
                <img src="img/V1.jpg" class="gallery__image gallery__image--size-full"/>
            </a>
             
        </li>
        <li class="gallery__list-item">
            <a href="#" class="gallery__link">
                <img src="img/V2.jpg" class="gallery__image gallery__image--size-full"/>
            </a>
            
        </li>
        <li class="gallery__list-item">
            <a href="#" class="gallery__link">
                <img src="img/V3.jpg" class="gallery__image gallery__image--size-half"/>
            </a>
              
        </li>
        <li class="gallery__list-item">
            <a href="#" class="gallery__link">
                <img src="img/V4.jpg" class="gallery__image gallery__image--size-half"/>
            </a>
       
        </li>
    </ul>
</section>