<% layout('Boilerplate.ejs') %>
<div class="header">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">vission & mission</span>
      <span class="heading-primary--sub">the where and the why</span>
    </div>
  </div>
</div>
<div class="text-container">
  <p class="text-container__paragraph">
    <h3> vision </h3>
    We envision imparting domain relevant skills through customized learning by providing a
    conducive environment that facilitates multifaceted development of the student.
  </p>
  <p class="text-container__paragraph">
    <h3> mission </h3>
    Our mission is to develop the youth by bridging the gap between academia and industry
    through an activity based curriculum which focuses on collective and collaborative
    learning across different domains.
  </p>
</div>