<% layout('Boilerplate.ejs') %>
<div class="header header--what-is-humtree">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">what is humtree</span>
      <span class="heading-primary--sub">know about humtree</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-top-small">
    <p class="text-container__paragraph">
       The HUM Tree is just the creativity of our Research and Development Team. The main concept is to make people with similar
      interests and same field of work form a team, which works together for self improvement. A HUM Tree is a knowledge sharing
      platform where the members belonging to same region meet and share their ideas, organize workshops and various activities
      that are related to overall development of members and makes them skilled and helps them harness their madness. These regional
      and specialized HUM Trees, together constitute HUM Foundation, which is a youth community working. Ideas are what we constantly
      generate at HUM and the energy and competence to put those ideas in operation are something that comes naturally to everyone
      associated with HUM. In tot, planting these HUM Trees helps us prepare our people for industry where they are trying to go
      in near future also helps us externally empowering them and the education system as well. We believe that together we can
      achieve whatever we set out sight on. We believe that each one of us can Harness our Madness!
    </p>
  </div>
</div>