<% layout('Boilerplate.ejs') %>
<div class="header">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">why plant a humtree?</span>
      <span class="heading-primary--sub">why would you choose humtree?</span>
    </div>
  </div>
</div>