<% layout('Boilerplate.ejs') %>
<div class="header header--why-plant-a-humtree">
  <div class="header__text-box"> 
    <div class="heading-primary">
      <span class="heading-primary--main">why plant a humtree?</span>
      <span class="heading-primary--sub">why would you choose humtree?</span>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="u-margin-top-small">
    <p class="text-container__paragraph">
      A HUM Tree provides exposure to the student to hone his/her professional skills
      as demanded by corporate world. We believe that every student must be
      given a skill-friendly environment which lets them innovate to their fullest
      potential.
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      There is a need in the society to develop a fully sustained citizen who knows
      how to survive and compete and a platform where students can develop
      their leadership as well as team management skills. Through HUM we aim to
      develop the future leaders and young entrepreneurs.  
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      The inter-college competitions and workshops as per the designed modules
      will let the student chapters interact with other colleges and hence develop
      a network of learning. This on the other side also improves the decision
      making skills, communication skills and critical thinking of an individual.
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      In short, HUM Tree strives to develop a world class network of learning and
      growing together. There by, promoting professional growth.
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      It encourages students to prepare well researched and designed
      presentations for collegiate club meetings, section meetings and for entry in
      student level competitions. It also furthers informal contacts with students
      active in industry and government through joint meetings with the section. It
      arranges presentation of industrial and government films which illustrate the
      application of studied principles.
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      HUM also provides students opportunities to gain experience in administering
      organizational activities, concluding meetings, taking part in committee
      activities and writing and speaking before groups. It also offers social
      programs that help develop lasting friendships between students themselves,
      the faculty and section members.
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      At HUM, you also get a reimbursement of Rs.50/- per student from HUM
      Foundation towards partial cost of running the local activities
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      The program chairperson is responsible for deciding what subjects are of
      greatest interest to the college HUM Tree members and for securing qualified
      speakers on these subjects. This can be determined by making an informal
      survey - asking individual members what topics they would like to have
      presented. The faculty Adviser can help by recalling meetings that have been
      outstanding successes during past administrations and by suggesting
      topics of current importance.
    </p>
    <p class="text-container__paragraph u-margin-top-small">
      Based upon the committee's findings, the program chair should present
      general outline of the year's program to the club officers for consideration,
      together with definite proposals for meetings. Programs should always be
      scheduled at least one month in advance and announced at the preceding
      meeting.
    </p>
    <div class="u-margin-top-medium">
      <div class="u-margin-bottom-small">
        <h3 class="heading-tertiary">The following aspects should always be considered: Fun, Learning, Alignment
          with the college curriculum and Intertwine celebrations and activities to get
          the best of fun, learning and alignment with curriculum.
        </h3>
      </div>
      <p class="text-container__paragraph">
        Involving other colleges and getting involved in other college activities are
        required. This fosters friendship and wider sharing of knowledge and
        experience. Inter-college events provide a good opportunity to do the
        above. However, conducting such events require long-term planning and
        large resources in terms of money and man-hours. Hence number of such
        events should be limited and should be done in accordance with the
        guidelines set by the HUM authorities. HUM Tree has its own plans of
        intercollegiate events such as Student Convention and Contests. Considering
        many factors, the section has to decide as to which college should host
        these events. When a college is selected for hosting the event, other colleges
        extend full cooperation and support to the hosting college.
      </p>
      <p class="text-container__paragraph u-margin-top-small">
        IHUM conducts many programs not directly linked to the HUM Trees.
        Depending on the nature of such events, HUM may request involvement of
        college students. Such requests are made only when it is clear that the
        students will be benefited.
      </p>
    </div>
  </div>
</div>